{% extends 'flatpages/default.html' %}
{%load custom_filters%}
{% block title %}
News
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
{% if is_not_authors %}
<button> <a href="upgrade/"> Стать автором!</a> </button>
{% endif %}
{% if is_not_subscriber %}
<button> <a href="{% url 'subscribe' category.id %}"> Подписаться!</a> </button>
{% endif %}
<h2>Все новости</h2>
{% cache 300 "category_filter" %}
<form action = '' method = 'get'>
    <div>
        <label for="id_name">Название:</label>
        {{ filterset.form.name }}
    </div>
    <div>
        <label for="id_author">Автор:</label>
        {{ filterset.form.author }}
    </div>
    <div>
        <label for="id_datetime_in">Позже даты:</label>
        {{ filterset.form.datetime_in }}
    </div>
<input type = 'submit' value = 'Найти'/>
</form>
{% endcache%}

{% if category_news_list %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
            <td>Категория</td>
        </tr>
        {% for category_new in category_news_list %}
        <tr>
            <td>{{ category_new.name|censor }}</td>
            <td>{{ category_new.datetime_in }}</td>
            <td>{{ category_new.text|truncatechars:20|censor }}</td>
            <td>
                {% for cat in category_new.category.all %}
                {{ cat.name|truncatechars:50|censor }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                Без категории
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
{% cache 600 "category_pagination" %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% endif %}
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </span>
</div>
{% endcache %}
{% else %}

    <p>Вы не авторизованы.</p>
    <a href="/accounts/login/">Войти</a>
{% endif %}

{% endblock content %}