{% extends 'flatpages/default.html' %}
{%load custom_filters%}
{% block title %}
News
{% endblock title %}

{% block content %}
<h2>Все новости</h2>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.name|censor }}</td>
            <td>{{ post.datetime_in }}</td>
            <td>{{ post.text|truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}